<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<body>
<h1>Welcome</h1>
<ul>Instructions:</ul>
<li>To announce to #t-lunch channel, say "Lunch is here"</li>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.2.0/prototype.js"></script>
<script>
    if (annyang) {
        console.log('annyang ready!');
        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {
            'lunch is here': lunchHere
        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start({autoRestart: false, continuous: false});
    }


    function lunchHere() {
        new Ajax.Request('/api/slack/lunch', {
            method: 'post',
            postBody: {'text': 'lunch is here'},
            onSuccess: function (response) {
                alert('Sent to t-lunch channel!')
            },
            onFailure: function (err) {
                alert(err)
            }
        });
    }
</script>
</html>








