<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Welcome</h1>
<ul><h3>Instructions:</h3>
    <li>To announce to #t-lunch channel, say "Lunch is here"</li>
</ul>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script>
    console.log(jQuery)
    if (annyang) {
        console.log('annyang ready!');
        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {
            'lunch is here': lunchHere
        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start({autoRestart: false, continuous: false});
    }


    function lunchHere() {
        jQuery.post({
            type: 'POST',
            url: '/api/slack/lunch',
            data: {'text': 'lunch is here'},
            dataType: 'json',
            success: function (data) {
                alert('Sent to #t-lunch channel')
            },
            failure: function (data) {
                alert('ERROR')
            }
        });
    }
</script>
</html>








